{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">Entry for car - {{ car.brand }}</h1>

    <form method="post" action=".">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.errors %}
                <div class="notification is-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="field">
            <label>Name</label>

            <div class="control">
                <input class="input" type="text" name="name" id="id_name">
            </div>
        </div>

        <div class="field">
            <label>Address</label>

            <div class="control">
                <input class="input" type="text" name="address" id="id_address">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
